<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Necesario para hablar con el backend (Render/localhost). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="vecinomarket_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep link de vuelta tras aprobar el pago en el Custom Tab de
                 PayPal (ver PaypalWebviewScreen en Flutter y
                 IniciarCheckoutView en el backend, que le pasa esto como
                 return_url/cancel_url). Sin esto, Android no sabe traer de
                 vuelta a la app cuando PayPal termina de redirigir. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vecinomarket"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Necesario para abrir el link de aprobacion de PayPal como Custom
             Tab (url_launcher, LaunchMode.inAppBrowserView), en reemplazo de
             un WebView embebido (PayPal bloquea su checkout ahi). Sin esto,
             Android 11+ (API 30+) puede ocultar los navegadores instalados
             por las reglas de package visibility y launchUrl() falla en
             silencio. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <!-- Para que Android identifique un proveedor de Chrome Custom Tabs
             instalado (necesario para que inAppBrowserView funcione bien en
             vez de caer a un WebView por defecto). -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
</manifest>
